*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*  pc >= 1024px 
    Tablet >=740px >1024px
    Mobile < 740px
 */
 .pc,
 .tablet,
 .mobile {
     font-size: 56px;
     display: none;
 }
@media (min-width: 1024px) {
    .pc{
        display: block;
    }
}
@media (min-width: 740px) and (max-width: 1024px) {
    .tablet{
        display: block;
    }
}
@media (max-width: 740px) {
    .mobile{
        display: block;
    }
}

#main{
    text-align: center;
    margin-top: 200px;
}